extends ../../../layouts/default.pug
include ../../../mixins/box-head.pug
block main
  .container.my-3

    include ../../../partial/list-btn-button.pug

    .row
      .col-12
        +box-head("friend list")

    .row
      each user in users
        .col-6
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                ) Message