.sider
  .inner-menu
    ul 
      li
         a(href=`/${prefixAdmin}/dashboard`) dashboard
      li
         a(href=`/${prefixAdmin}/products`) product
      li 
        a(href=`/${prefixAdmin}/deleted`) deleted